


body{
  font-family: serif;
  /*background: url("../img/pizza.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

}
